@charset 'UTF-8' ;

:root {
  /* Fonts */
  --f_fontSizeBase : 16px ;
  --f_lineHeight : 1.5 ;
  --f_fontWeight : 400 ;
  --f_fontFamily : 'Be Vietnam Pro', sans-serif ;

  /* Colors */
  --c_white : #FFF ;
  --c_gray100 : #F8FAFC ;
  --c_gray50 : #CDD5E05C ;

  --c_BKGradientColor1 : #B64570 ;
  --c_BKGradientColor2 : #6E28BF ;
  --c_BKGradientColor3 : #384FC7 ;

}

* {
  margin : 0 ;
  padding : 0 ;
}

form { all: unset ; }

form label {
  line-height : calc( var( --f_lineHeight ) + .5 ) ;
  font-size : .875rem ;
  color : var( --c_white ) ;
}

button { unset : all } ;


html {
  font-size : var( --f_fontSizeBase ) ;
  line-height : var( --f_lineHeight ) ;
  font-weight : var( --f_fontWeight ) ;
  font-family : var( --f_fontFamily ) ;

}

.Body {
  height : 100vh ;

  background: linear-gradient(135deg, hsla(337, 45%, 49%, 1) 0%, hsla(268, 65%, 45%, 1) 53%, hsla(230, 56%, 50%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(337, 45%, 49%, 1) 0%, hsla(268, 65%, 45%, 1) 53%, hsla(230, 56%, 50%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(337, 45%, 49%, 1) 0%, hsla(268, 65%, 45%, 1) 53%, hsla(230, 56%, 50%, 1) 100%);
  
  color : var( --c_gray100 ) ;
}

/* Comienzo Header */
.Header {}


/* Comienzo Aside */
.Aside {}


/* Comienzo Main */
.Main {
  height : 100% ;

  text-align : center ;
}

.Main .section {
  height : inherit ;
}

.Main .section .article {
  display : flex ;
  flex-direction : column ;
  align-items : center ;
}

.Main .section .article .article__title {
  font-size : 2rem ;
}

.Main .section .article .article__paragraph {
  font-size : 1rem ;
}

.Main .section .article .article__form {
  width : 980px ;
  height : 600px ;
  
  display : flex ;
  flex-direction : column ;
  align-items : center ;
  
  background-color : var( --c_gray50 ) ;

  border-radius : 2rem ;
}

.Main .section .article .article__form .container {
  width : 90% ;
  height : 100% ;
}

.Main .section .article .article__form .container .form__container {
  display : flex ;
  gap : 1rem ;
}

.Main .section .article .article__form .container .form__container:last-child textarea {
  width : 100% ;
  background-color : red ;
}

.Main .section .article .article__form .container .form__container div {
  width : 50% ;
  display : grid ;
  place-items : center flex-start ;

}

.Main .section .article .article__form .form__container :is(input, select) {
                
  height : 2rem ;
  width : 100% ;

  border-radius : .5rem ;
}


.Main .section .article .article__form textarea {
  width : 80% ;
  height : 30% ;

  margin : 0 auto ;

  border-radius : .5rem ;
}

.Main .section .article .article__form .article__form--submit {
  height : 3rem ;
  width : 80% ;
  padding : 1rem auto ;

}
/* Comienzo Footer */
.Footer {}


/* MediaQuerys */

@media screen and ( min-width : 1280px ){
}

@media screen and ( max-width : 1024px ){
}

@media screen and ( max-width : 640px ){
}
