@charset 'UTF-8' ;

:root {
  /* Fonts */
  --f_fontSizeBase : 16px ;
  --f_lineHeight : 1.5 ;
  --f_fontWeight : 400 ;
  --f_fontFamily : 'Be Vietnam Pro', sans-serif ;

  /* Colors */
  --c_white : #FFFFF ;
  --c_gray100 : #F8FAFC ;

  --c_BKGradientColor1 : #B64570 ;
  --c_BKGradientColor2 : #6E28BF ;
  --c_BKGradientColor3 : #384FC7 ;

}

* {
  margin : 0 ;
  padding : 0 ;
}

form { all: unset ; }


html {
  font-size : var( --f_fontSizeBase ) ;
  line-height : var( --f_lineHeight ) ;
  font-weight : var( --f_fontWeight ) ;
  font-family : var( --f_fontFamily ) ;

  color : var( --c_gray100 ) ;
}

/* Comienzo Header */
.Header {}


/* Comienzo Aside */
.Aside {}


/* Comienzo Main */
.Main {
  text-align : center ;
}

.Main .section {

  background: linear-gradient(135deg, hsla(337, 45%, 49%, 1) 0%, hsla(268, 65%, 45%, 1) 53%, hsla(230, 56%, 50%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(337, 45%, 49%, 1) 0%, hsla(268, 65%, 45%, 1) 53%, hsla(230, 56%, 50%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(337, 45%, 49%, 1) 0%, hsla(268, 65%, 45%, 1) 53%, hsla(230, 56%, 50%, 1) 100%);

}

.Main .section .article {}

.Main .section .article .article__title {
  font-size : 2rem ;
}

.Main .section .article .article__paragraph {
  font-size : 1rem ;
}

.Main .section .article .article__form {
  width : 980px ;
  height : 600px ;
}

/* Comienzo Footer */
.Footer {}


/* MediaQuerys */

@media screen and ( min-width : 1280px ){
}

@media screen and ( max-width : 1024px ){
}

@media screen and ( max-width : 640px ){
}
